#Pablo{width: 65%; margin: auto;}

h2{font-size: 50px; width:25%; margin: auto;}

h3{font-size:20px; margin: auto; display: inline; width: 13%; background-color:red;}

hr {width: 180px;
	margin-left: 360px; margin-right: auto; margin-top: 3px; border:2px solid #ff0000;}

#team, #events{border: 3px solid white; margin: 150px 0 150px 0;}

.gauche{border: 3px solid white; height: 300px; width: 400px;
	float: left; margin: 30px 0 0 0;}

.droite{border: 3px solid white; height: 300px; width: 400px;
	float: right; margin: 30px 0 0 0;}

.resume{border: 3px solid white;}

.image{float: left;}

.clear{clear: both;}

.femmes{border: 3px solid white; margin: 0;}

.femme1{float: left;}

.femme2{float: right;}

.head{vertical-align: middle; test-align: center;}

.mini{border: 0 solid white; height: 225px; width: 220px;
	box-shadow: 0 3px 5px #808080;}

.title{font-size:30px; background-color:red;}

.tableau{display: flex; margin: 50px 80px 0 70px;}

.tableau>section{ margin: 20px; text-align: center;}

.mois{color: blue; font-size: 18px; margin: 10px 0 10px 0;}

.date{ margin: 10px 0 10px 0; font-weight: bold;}
